@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#homePage {
    /* margin-top: 300px; */
    margin: 200px 0 0 7vw;
}

.row {
    display: flex;
    height: 88%;
    /* width: 1vw; */
    align-items: center;
    justify-content: center;
}

.col {
    /* margin-left: 8vw; */
    flex-basis: 50%;
}

#homePage .row .col h2 {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    font-size: 50px;
    margin-bottom: 2%;
    margin-left: 15%;
}

#homePage .row .col h1 {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    font-size: 100px;
    margin-bottom: 2%;
}

#homePage .row .col p {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    font-size: 1.2rem;
    line-height: 25px;
}

#homePage .row .col button {
    width: 10vw;
    height: 5vh;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    margin-top: 4%;
    color: #edf0f1;
    background-color: var(--button-color);
    border: none;
    border-radius: 22px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease; 
}

#homePage .row .col button:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0 0 35px var(--theme-color);
    width: 12vw;
    height: 6vh;
    font-size: 24px;
    letter-spacing: 0.5px;
}

#homePage .row .notTouching {
    margin-left: 4vw;
    /* margin-top: 10%; */
    transition-delay: 0.5s;
}

#homePage .row .col .card h4 {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 0 5px #000000;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    /* border-bottom: 1px solid var(--theme-color); */
}

#homePage .row .col .card p {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif; 
    font-size: 1rem;
    text-shadow: 0 0 5px #000000;
}

#homePage .row .col .card {
    width: 30vw;
    /* height: 33vh; */
    min-height: 33vh;
    height: auto;
    display: inline-block;
    border-radius: 15px;
    padding: 10px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    /* background-image: url("https://images.samsung.com/is/image/samsung/p6pim/uk/feature/164370272/uk-feature-galaxy-s-535141640?$FB_TYPE_I_JPG$"); */
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border: 1px solid var(--theme-color);
    box-shadow: 0 0 35px var(--theme-color);
    transition: all 1s ease;
}

#homePage .row .col .card:hover {
    transition: all 0.5s ease;
    transform: translateY(-10px);

}

/* #homePage .row .col .card:nth-child(1) {
    transition-delay: 0.5s;
}

#homePage .row .col .card:nth-child(2) {
    transition-delay: 0.8s;
} */